.greenu{
    color: green;
    text-decoration: underline
}
.blueu{
    color: blue;
    text-decoration: underline;
}
.images{
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: white;
    background-size: 80%;
}
.bg{
    background-image: url(Suratebi/bigstock-background-digital-image-of-wo-61137458-1.jpg);
    background-size: 100%;
}
#image{
    height: 150px;
    width: 500px;
}
.image{
    height: 120px;
    width: 350px
}
.blacku{
    color: black;
    text-decoration: underline;
}
.image1{
    height: 180px;
    width: 400px
}
.image3{
    height: 200px;
    width: 400px;
}
.image4{
    height: 200px;
    width: 200px;
}
.image5{
    height: 200px;
    width: 300px;
}
.image6{
    height: 300px;
    width: 400px;
}
.gradient{
    background-image: linear-gradient( to left, red, green,blue);
}
div{
    width: 200px;
    height: 200px;
    border: 3px solid;
    float:left;
    margin-left: 20px;
    margin-top: 100px;
}
.tag{
    background-color: #808080;
    width: 950px;
    height: 400px;
}
.gradient1{
    background-image: linear-gradient( red, green,blue);
}
.gradient2{
    background-image: linear-gradient( to left top, red, green,blue);
}
.gradient3{
    background-image: linear-gradient( to  bottom left , red 40%, green 10%,blue 50%);
}
.gradient4{
    background-image: radial-gradient(  red , green,blue);
}
.gradient5{
    background-image: radial-gradient(  red 60% , green 5%,blue );
}
.gradient6{
    background-image: repeating-radial-gradient(red 50%,green 10%, blue )
}
.gradient7{
    background-image: radial-gradient(red 20%,green 20%,blue 30%)
}